.headerConteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    width: 500px;
    height: 40px;

    padding: 0 10px;
    box-sizing: border-box;

    background-color: rgb(224, 224, 224);
    border: solid 2px #965252;
    border-radius: 5px;
}

.logo {
    font-size: 22px;

    color:rgb(6, 132, 132)
}

.headerNav {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row-reverse;

    gap: 15px;

    width: 300px;
    height: 100%;
}

.headerNavLink {

    display: inline-flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;

    color: rgb(3, 100, 186);
    text-decoration: none;
    cursor: pointer;
}

.headerNavName {

    display: inline-flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;

    color: rgb(17, 23, 28);
    text-decoration: none;
    cursor: pointer;
}